@import "../../_variables"
p
  font-size: .8rem
.contact
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 1rem
  padding: 1rem 0rem
  div
    width: fit-content

  a
    position: relative
    text-decoration: none
    overflow: hidden
    line-height: 1.5rem
    max-width: 100px
    .horizontal
      transition: all .5s
      height: 2px
      width: 0
      background: blue
  a:hover
    .horizontal
      width: 100%
