.hamburguer
  position: relative
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  gap: 4px
  width: 100%
  transition: all 1s
  @for $i from 1 through 9
    div:nth-child(n)
      width: 5px
      height: 5px
      border-radius: 50%
      transition: all .3s
  #vertical
    position: absolute
    top: 40%
    left: -5%
    transform: rotateZ(45deg)
    width: 25px
    border-radius: 5px
    opacity: 0
    transition: all .5s
  #horizontal
    position: absolute
    top: 40%
    left: -5%
    width: 25px
    border-radius: 5px
    opacity: 0
    transform: rotateZ(-45deg)
    transition: all .5s
.hamburguer:hover
  transform: rotateZ(45deg)
  @for $i from 1 through 9
    div:nth-child(n)
      opacity: 0
  #horizontal,#vertical
    opacity: 1
  .dot1
    transform: translateY(12.5px) translateX(12.5px)
  .dot2
    transform: translateY(-20px)
  .dot3
    transform: translateY(12.5px) translateX(-12.5px)
  .dot4
    transform: translateX(-20px)
  .dot6
    transform: translateX(20px)
  .dot7
    transform: translateY(-12.5px) translateX(12.5px)
  .dot8
    transform: translateY(20px)
  .dot9
    transform: translateY(-12.5px) translateX(-12.5px)
