
.work--title
  display: flex
  align-items: center
  justify-content: space-between
  .icon
    width: 25px
    opacity: 0
.work--title:hover

  .icon
    opacity: 1
.work--title:last-child
  border: none
.works__title
  position: relative
  display: flex
  align-items: center
  h2
    transition: 1s all
  .icon
    transition: 1s all
    width: 0px
    opacity: 0
.works__title:hover
  h2
    transition: 1s all
    transform: translateX(20px)
  .icon
    transition: 1s all
    width: 25px
    opacity: 1
.work--title:last-child
  border: none
