
.work--title
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px black solid
  .icon
    display: none
    opacity: 0
.work--title:hover
  border-bottom: 2px black solid
  .icon
    display: block
    opacity: 1
.work--title:last-child
  border: none
