@import url("../node_modules/normalize.css/normalize.css")
@import "./_variables"

*
  box-sizing: border-box
  font-family: $body, serif
  // border: red 1px solid !important
.hidden
  display: none
  opacity: 0
h1,h2,h3,h4,h5,h6
  font-family: $title
main
  padding: 1rem
footer
  text-align: center
