@import "./_variables"

*
  box-sizing: border-box
  font-family: $body, serif
  //border: red 1px solid !important

.light
  transition: all 1s
  background-color: transparent
  h1,h2,h3,h4,h5,h6,a
    color: $MiddleBlue
  p
    color: $Darkblue

  .hamburguer
    div
      border: 1px solid $MiddleBlue
  .logo
    filter: invert(6%) sepia(56%) saturate(3609%) hue-rotate(173deg) brightness(97%) contrast(99%)
  .icon
    filter: invert(37%) sepia(70%) saturate(517%) hue-rotate(142deg) brightness(93%) contrast(84%)
  #NextJs
    filter: invert(45%) sepia(0%) saturate(1896%) hue-rotate(158deg) brightness(90%) contrast(89%)
  #NextJs:hover
    filter: none
  #Alura
    filter: invert(100%)
  .work--title,.works__title
    border-bottom: 1px solid $MiddleBlue
    span
      color: $MiddleBlue
  .tabs
    div
      animation: .3s gradientb forwards linear
    div:hover
      border: none
      animation: .3s gradientf forwards linear
      p
        color: $White
  .project__img
    img
      box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1)
  .project__container
    div
      border-bottom: 2px dashed $MiddleBlue
    div:last-child
      border: none
  a
    transition: 1s all
    .horizontal
      background: $Darkblue
  a:hover
    transition: 1s all
    color: $Darkblue
  .bg
    background-color: $LightBlue
.dark
  transition: all 1s
  h1,h2,h3,h4,h5,h6,a
    color: $LightViolet
  p
    color: $UltralightViolet

  .hamburguer
    div
      border: 1px solid $LightViolet
  .logo
    filter: invert(89%) sepia(8%) saturate(851%) hue-rotate(185deg) brightness(92%) contrast(90%)
  .icon
    filter: invert(89%) sepia(8%) saturate(851%) hue-rotate(185deg) brightness(92%) contrast(90%)
  #NextJs
    filter: invert(45%) sepia(0%) saturate(1896%) hue-rotate(158deg) brightness(90%) contrast(89%)
    transition: all 1s
  #NextJs:hover
    filter: invert(100%)

  .work--title,.works__title
    border-bottom: 1px solid $DarkViole
    span
      color: $LightViolet
      font-weight: 900
  .tabs
    div
      animation: .3s gradientbd forwards linear
      p
        color: $Black
    div:hover
      border: none
      animation: .3s gradientfd forwards linear
      p
        color: $White
        font-weight: 900
  .project__img
    img
      box-shadow: 10px 10px 10px 0px rgba(255,255,255,0.1)
  .project__container
    div
      border-bottom: 2px dashed $LightViolet
    div:last-child
      border: none
  a
    transition: 1s all
    .horizontal
      background: $UltralightViolet
  a:hover
    transition: 1s all
    color: $UltralightViolet
  .bg
    background-color: $Black

.hidden
  transform: translateY(-20px)
  opacity: 0
  z-index: -1

h1,h2,h3,h4,h5,h6
  font-family: $title
main
  padding: 1rem
  margin-top: 6.25rem
  min-height: calc( 100vh - 6.25rem)
  overflow-x: hidden
header
  overflow: hidden
  position: fixed
  top: 0
  z-index: 100
@include tablet
  main
    padding: 3rem
    margin-top: 8rem

@keyframes gradientf
  0%
    background: linear-gradient(0deg, $Darkblue 0%, $MiddleBlue 0%, $LightBlue 0%)

  25%
    background: linear-gradient(0deg, $Darkblue 0%, $MiddleBlue 0%, $LightBlue 25%)

  50%
    background: linear-gradient(0deg, $Darkblue 0%, $MiddleBlue 25%, $LightBlue 50%)

  75%
    background: linear-gradient(0deg, $Darkblue 0%, $MiddleBlue 50%, $LightBlue 75%)

  100%
    background: linear-gradient(0deg, $Darkblue 0%, $MiddleBlue 50%, $LightBlue 100%)

@keyframes gradientb
  100%
    background: linear-gradient(0deg, $Darkblue 0%, $MiddleBlue 0%, $LightBlue 0%)

  75%
    background: linear-gradient(0deg, $Darkblue 0%, $MiddleBlue 0%, $LightBlue 25%)

  50%
    background: linear-gradient(0deg, $Darkblue 0%, $MiddleBlue 25%, $LightBlue 50%)

  50%
    background: linear-gradient(0deg, $Darkblue 0%, $MiddleBlue 50%, $LightBlue 75%)

  0%
    background: linear-gradient(0deg, $Darkblue 0%, $MiddleBlue 50%, $LightBlue 100%)

@keyframes gradientfd
  0%
    background: linear-gradient(0deg, $DarkViole 0%, $MiddleViolet 0%, $LightViolet 0%)

  25%
    background: linear-gradient(0deg, $DarkViole 0%, $MiddleViolet 0%, $LightViolet 25%)

  50%
    background: linear-gradient(0deg, $DarkViole 0%, $MiddleViolet 25%, $LightViolet 50%)

  75%
    background: linear-gradient(0deg, $DarkViole 0%, $MiddleViolet 50%, $LightViolet 75%)

  100%
    background: linear-gradient(0deg, $DarkViole 0%, $MiddleViolet 50%, $LightViolet 100%)

@keyframes gradientbd
  100%
    background: linear-gradient(0deg, $DarkViole 0%, $MiddleViolet 0%, $LightViolet 0%)

  75%
    background: linear-gradient(0deg, $DarkViole 0%, $MiddleViolet 0%, $LightViolet 25%)

  50%
    background: linear-gradient(0deg, $DarkViole 0%, $MiddleViolet 25%, $LightViolet 50%)

  50%
    background: linear-gradient(0deg, $DarkViole 0%, $MiddleViolet 50%, $LightViolet 75%)

  0%
    background: linear-gradient(0deg, $DarkViole 0%, $MiddleViolet 50%, $LightViolet 100%)
